/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../image/background.png');
  }
  
  header {

    background-size: cover;
    color: #000000;
padding-right: 20px;
  }
  
  .user {
    display: flex; /* Mengatur tampilan menjadi flexbox */
    align-items: center; /* Menyelaraskan elemen secara vertikal */
    gap: 10px; /* Memberikan jarak antar elemen */
    padding: 10px; /* Memberikan padding di sekitar elemen */
    background-color: #ffffff; /* Memberikan warna latar belakang */
    margin-left: 30px;
  }
  
  .user a{
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
  }

  .user img {
    width: 40px; /* Mengatur lebar gambar */
    height: 40px; /* Mengatur tinggi gambar */
  }

  nav {
    display: flex;
    margin-right: 30px;
    justify-content: space-between;
    background-color: #ffffff;

  }
  
  nav ul {
    list-style: none;
    display: flex;
  }

  nav li {
    margin-top: 5px;
  }
  
  
  nav li a {
    margin-left: 50px;
    color: #092e64;
    text-decoration: none;
    transition: all 0.3s ease; /* Animasi transisi saat hover dan klik */
  }
  
  nav li a:hover,
  nav li a.active {
    font-weight: bold;
    color: #092e64;
  }
  
  .garis {
    width: 100%;
    height: 5px;
    background-color: #092e64;
    margin: 10px 0;
    margin-top: 0px;
}
  

  .hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url('../image/screen.jpg');
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    margin-left: 30px;
    margin-right: 10px;
  }

  h1 {
    padding-top: 30px;
    font-size: 5rem;
    margin-bottom: 50px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  form {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    max-width: 50%;
    margin-left: 25%;
    margin-bottom: 30px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    flex-grow: 1; /* Makes the input field expand to fill available space */
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  button img {
    width: 20px;
    height: 20px;
  }

  .features {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  
  .feature {
    text-align: center;
  }

  .feature img{
    max-width: 50vh;
    margin-top: 30px;
  }

  h2{
    color: #98968a;
  }
  